body{
	
	text-align: center;
	color : white ;
	background: black;
}
.test {
	width : 100% ;
	display: flex;
	flex-direction: column;
}

.my-images {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	width : 80%
}

.my-images img {
	margin: 5px;
	width : 30% ; 
	/* height: 15px; */
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	box-shadow:5px 5px 10px antiquewhite;
}